.secrets-card {
    background: #1c1f29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
}

.secrets-card:hover {
    background: linear-gradient(
90deg
,#72134b,#1d212c);
cursor: pointer;
}

.folder{
    width: 2rem;
}

.delete-secrets {
    width: 1rem;
}

.folder-text-wrap {
    display: flex;
    gap: 1rem;
}

.seconds {
    font-size: 0.7rem;
    color: #5e627c;
}

